html {
	width: 100%;
	height: 100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	color: #cccccc;
	background-color: #181a1b;
	width: 100%;
	height: 100%;
	margin: 0px;
	font-size: 18px;
}

input[type='button'] {
	pointer-events: all;
	background-color: #181a1b;
	border-color: #736b5e;
	color: #e8e6e3;
	padding: 4px;
}

input[type="text"] {
	background-color: #181a1b;
	color: rgb(216, 212, 207);
	border-color: rgb(106, 98, 87);
	padding: 4px;
}

input[type='button']:disabled {
	background-color: #47494b;
	border-color: #47494b;
    color: #e8e6e3;
}

input[type="text"]:disabled {
	background-color: #47494b;
	color: rgb(216, 212, 207);
	border-color: #47494b;
}

.scene-root {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}

.hide {
	display:none !important;
}

.invisible {
	visibility: hidden;
}

.loading-text {
	/* position:absolute; */
	margin: 0px auto;
	font-size: 48px;
	margin-top: 20%;
	width:  50%;
	text-align: center;
}

.game-title {
	font-size: 108px;
	margin: 0px auto;
	width: 75%;
	text-align: center;
	margin-top: 2%;
}

#user-name-container {
	width: 310px;
	background-color: #444444;
	border-color:#cccccc;
	border-radius: 20px;
	border-width: 16px;
	border-style: solid;
	padding:12px;
	color: #cccccc;
	max-width: 315px;
	height: 150px;
	margin: 0px auto;
	margin-top: 2%;
}

#user-name {
	width: 96%;
	margin-top:4px;
	margin-bottom: 32px;
}

#player-submit {
	margin-top: 20px;
	padding: 8px 20px;
}

#game-server-details {
	/* position: absolute; */
	/* width: 25%; */
	/* top: 40%; */
	/* left: 42%; */
	color: #cccccc;
	/* float: left; */
	margin: 0px auto;
	width: 50%;
	margin-top: 1%;
	text-align: center;
}



.log-message {
	width:100%;
}

.input-controls-div {
	float:left;
}

.input-controls-div input[type="button"] {
	float: left;
	font-size:24px;
}

.input-debug-controls-div {
	float: left;
	margin-top: 10px;
}


.debug-div {
	width: 50%;
	float: right;
	margin-top: 14px;
	background-color: rgba(0, 0, 0, 0.7);
	max-width: 500px;
}


.capture-pointer-events {
	pointer-events: all;
}

.ignore-pointer-events {
	pointer-events: none;
}


#exit-game {
	margin-right: 12px;
}

.lobby-login-container {
	width: 100%;
	height: 33%;
}

.lobby-info-container {
	width: 100%;
	height: 67%;
}

.lobby-panel {
	width: 50%;
	float:left;
	vertical-align: top;
	height: 39%;
}

.lobby-panel-section {
	margin-bottom: 26px;
}


.lobby-panel-title {
	font-size: 24px;
	font-weight: bold;
}

.lobby-panel-text {
	margin-bottom: 4px;
}

.info-container {
	width: 80%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	overflow-y: auto;
	border-color:#cccccc;
	border-radius: 20px;
	border-width: 16px;
	border-style: solid;
	padding: 0px 12px 0px 12px;
	color: #cccccc;
	margin: 0px auto;
}

.menu-wrapper {
	position:absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 100;
}

.menu-container {
	width: 310px;
	background-color: rgba(0, 0, 0, 0.7);
	overflow-y: auto;
	border-color:#cccccc;
	border-radius: 20px;
	border-width: 16px;
	border-style: solid;
	padding: 0px 12px 12px 12px;
	color: #cccccc;
	position: relative;
	margin: 10% auto;
}

.menu-title {
	width: 100%;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin-top:6px;
	margin-bottom: 4px;
}

.menu-close-container {
	width:100%;
	height: 24px;
}

.menu-close-button {
	width: 20px;
	height: 20px;
	cursor: pointer;
	float: right;
	margin-top: 6px;
	pointer-events: all;
}



.small-menu-wrapper {
	position:absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 50;
}

.small-menu-container {
	background-color: rgba(0, 0, 0, 0.7);
	border-color:#cccccc;
	border-radius: 10px;
	border-width: 8px;
	border-style: solid;
	padding: 0px 6px 6px 6px;
	color: #cccccc;
	position: absolute;
}

.small-menu-close-container {
	top: -22px;
	right: -22px;
	position: absolute;
	background-color: #cccccc;
	border-color:#cccccc;
	border-radius: 50px;
	border-width: 8px;
	border-style: solid;
}

.small-menu-close-button {
	width: 16px;
	height: 16px;
	cursor: pointer;
	float: right;
	pointer-events: all;
}

.small-menu-contents {
	position: relative;
}




.modal-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 200;
	pointer-events: all;
}

.modal-info {
	margin-bottom:16px;
}



.ui-list-container {
	position:absolute;
	pointer-events: none;
}

.ui-list-contents {
	position: relative;
}







.chat-menu-container {
	bottom: 70px;
	left: 10px;
	height: 50%;
}

.chat-menu-contents {
	width: 400px;
	height: 100%;
}

.chat-history {
	position: absolute;
	bottom: 31px;
	left: 0px;
	width: 100%;
	height: 92%;
	overflow-y: auto;
	pointer-events: all;
}

.chat-history::-webkit-scrollbar {
    background-color: #202324;
    color: #aba499;
}

.chat-history::-webkit-scrollbar-thumb {
    background-color: #454a4d;
}


.chat-history::-webkit-scrollbar-corner {
    background-color: #181a1b;
}

.chat-history-item {
	width: 100%;
	float: left;
	text-shadow: 1px 1px #000000;
}

.chat-history-ts {
	font-size: 14px;
	margin-top: 4px;
	font-style: italic;
}

.chat-history-name {
	font-size: 18px;
	font-weight: bold;
}

.chat-history-msg {
	font-size: 18px;
	word-break: break-word;
}

.chat-input-container {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
}

.tb-chat-input {
	float:left;
	width:80%;
	pointer-events: all;
}

.tb-chat-submit {
	float: left;
	width: 15%;
	pointer-events: all;
}





.chat-menu-minified-container {
	bottom: 115px;
	left: 24px;
	height: 50%;
}

.chat-menu-minified-contents {
	width: 400px;
	height: 100%;
	overflow-y: hidden;
}


.chat-history-minified-item {
	width: 100%;
	float: left;
	text-shadow: 1px 1px #000000;
}

.chat-history-minified-item-inner-wrapper {
	float: left;
	background-color: rgba(0, 0, 0, 0.7);
}

.fade-out {
	opacity: 0;
	transition: opacity 10s ease-in;
}

.fade-out-5 {
	opacity: 0;
	transition: opacity 5s ease-in;
}


.chat-history-minified-wrapper {
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.chat-history-minifed {
	position: relative;
}





.small-menu-wrapper-center {
	position:absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 60;
}

.small-menu-container-center {
	background-color: rgba(0, 0, 0, 0.7);
	border-color:#cccccc;
	border-radius: 10px;
	border-width: 8px;
	border-style: solid;
	padding: 0px 6px 6px 6px;
	color: #cccccc;
	position: relative;
	margin: 0% auto;
}


.user-list-menu-container {
	height: 70%;
	width: 80%;
	margin-top: 75px;
	pointer-events: all;
	text-shadow: 1px 1px #000000;
}

.user-list-menu-contents {
	width: 100%;
	height: 90%;
	margin: 0% auto;
	overflow-x: auto;
}

.user-list-game-summary {
	width: 100%;
	text-align: center;
}

.user-list-game-type {
	width: 100%;
	font-size: 24px;
}

.user-list-game-rules {
	width: 100%;
	font-size: 16px;
}


.user-list-item {
	width: 100%;
	float: left;
}

/*the div that uses this class has its 'width' style attributed modified by javascript*/
.user-list-team-container {
	width: 10px;
	margin: 0% auto;
	text-align: center;
}


.user-list-team-contents {
	width: 400px;
	display: inline-block;
	margin: 0px 12px;
	padding: 6px;
}



.user-list-footer {
	height: 10%;
	width: 100%;
	overflow: hidden;
	float:left;
}

.user-list-player-count {
	height: 100%;
	width: 20%;
	border-width: 4px 1px 0px 0px;
	border-style: solid;
	border-color: #cccccc;
	float: left;
	font-size:32px;
	white-space: nowrap;
}

.user-list-spectator-container {
	height: 100%;
	width: 79%;
	border-width: 4px 0px 0px 0px;
	border-style: solid;
	border-color: #cccccc;
	float: left;
	overflow: hidden;
}

.user-list-spectator-title {
	font-size:32px;
	float: left;
}
.user-list-spectator-item {
	font-size:16px;
	float: left;
	margin:4px 8px;
}

.team-title {
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	height: 10%;
}


.ul-table {
	border: 1px solid white;
}

.ul-head {
	font-weight: bold;
}

.user-list-team-body {
	height: 90%;
}


.ul-name-header {
	width:85%;
}

.ul-points-header {
	width: 5%;
}

.ul-deaths-header {
	width: 5%;
}

.ul-ping-header {
	width: 5%;
}


.ul-tr {
	vertical-align: top;
}

.ul-tr-highlight {
	background-color: #8a8546;
}

.ul-name-value {
	text-align: left;
}

.ul-points-value {
	
}

.ul-deaths-value {
	
}

.ul-ping-value {
	
}





.team-pair {
	width:33%;
	float:left;
}

.team-pair-label {
	width:100%;
	float:left;
	text-align: center;
}

.team-pair-value {
	width:100%;
	float:left;
	text-align: center;
}









.debug-menu-wrapper {
	position:absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 9999;
}

.debug-menu-container {
	background-color: rgba(0, 0, 0, 0.7);
	border-color:#cccccc;
	border-radius: 10px;
	border-width: 8px;
	border-style: solid;
	padding: 0px 6px 6px 6px;
	color: #cccccc;
	position: absolute;
}

.debug-menu-contents {
	position: relative;
	width: 100%;
}

.debug-log-container {
	top: 0px;
	right: 0px;
	height: 400px;
	width: 600px;
}

.debug-log-contents {
	width: 100%;
	height: 100%;
}

.debug-title {
	width: 100%;
	text-decoration: underline;
	pointer-events: all;
}


.debug-log {
	width: 100%;
	height: 94%;
	overflow-y: scroll;
	resize: none;
	color: #cccccc;
	pointer-events: all;
}

.debug-log::-webkit-scrollbar {
    background-color: #202324;
    color: #aba499;
}

.debug-log::-webkit-scrollbar-thumb {
    background-color: #454a4d;
}


.debug-log::-webkit-scrollbar-corner {
    background-color: #181a1b;
}


.debug-input-container {
	top: 420px;
	right: 0px;
	height: 200px;
	width: 200px;
}

.debug-input-contents {
	width: 100%;
	height: 100%;
	pointer-events: all;
}





.debug-ai-container {
	top: 420px;
	right: 228px;
	height: 200px;
	width: 200px;
}

.debug-ai-contents {
	width: 100%;
	height: 100%;
	pointer-events: all;
}








.temp-menu-wrapper {
	position: absolute;
	bottom: 0px;
	left: 264px;
}

.temp-menu {
	position: relative;
	float:left;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.7);
	border-color:#cccccc;
	border-radius: 20px 20px 0px 0px;
	border-width: 16px 16px 0px 16px;
	border-style: solid;
	padding: 4px 4px 4px 4px
}

.temp-menu-container {
	float: left;
	/* width: 782px; */
}







input.menu-button {
	width: 80%;
	margin: 3px 10%;
	height: 50px;
	font-size: 20px;
}


.quick-menu-wrapper {
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.quick-menu {
	position: relative;
	float:left;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.7);
	border-color:#cccccc;
	border-radius: 0px 20px 0px 0px;
	border-width: 16px 16px 0px 0px;
	border-style: solid;
	padding: 4px 4px 4px 4px
}


.quick-menu-container {
	float: left;
	margin-top: 5px;
}

.quick-menu-icon {
	float: left;
	height: 32px;
	width: 32px;
	cursor: pointer;
	pointer-events: all;
	padding: 0px 4px 0px 4px;
}

.quick-menu-icon:hover {
	background-color: yellow;
}

.quick-menu-icon-visible {
	background-color: orange;
}




.round-menu-wrapper {
	position:absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 40;
}

.round-timer-container {
	width: 90px;
	height: 30px;
	position: relative;
	margin: 0% auto;
	font-size: 32px;
	background-color: rgba(0, 0, 0, 0.7);
	overflow-y: auto;
	border-color:#cccccc;
	border-radius: 0px 0px 20px 20px;
	border-width: 0px 16px 16px 16px;
	border-style: solid;
	padding: 12px 12px 12px 12px;
	color: #cccccc;
	z-index: 50;
	text-align: center;
	overflow: visible
}

.round-state-container {
	background-color: rgba(0, 0, 0, 0.7);
	border-color:#cccccc;
	border-radius: 0px 0px 10px 10px;
	border-width: 0px 8px 8px 8px;
	border-style: solid;
	padding: 6px 6px 6px 6px;
	color: #cccccc;
	width: 90px;
	position: relative;
	margin: 0% auto;
	top: -2px;
	font-size: 26px;
	z-index: 40;
	text-align: center;
}






.respawn-menu-wrapper {
	position:absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 40;
}

.respawn-message-container {
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 32px;
	padding: 12px 12px 12px 12px;
	color: #cccccc;
	text-shadow: 1px 1px #000000;
	background-color: rgba(0, 0, 0, 0.7);
}










.kill-feed-menu-container {
	top: 8px;
	right: 8px;
	height: 50%;
}

.kill-feed-contents {
	width: 400px;
	height: 100%;
	overflow-y: hidden;
}


.kill-feed-item {
	width: 100%;
	float: left;
	text-shadow: 1px 1px #000000;
	text-align: left;
	margin: 2px 0px;
	font-size: 28px;
}

.kill-feed-item-inner-wrapper {
	float: right;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 2px 6px;
	border-color: rgba(0,0,0,0);
	border-width: 1px;
	border-style: solid;
	border-radius: 8px 8px 8px 8px;
}

.kill-feed-highlight {
	background-color: rgba(150, 150, 150, 0.7) !important;
}


.chat-history-minified-wrapper {
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.chat-history-minifed {
	position: relative;
}







.round-start-wrapper {
	position:absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 9;
}

.round-start-container {
	position: relative;
	width: 100%;
	color: #cccccc;
	margin: 10% auto;
	pointer-events: none;
}

.round-start-gametype {
	font-size: 78px;
	text-shadow: 3px 3px #000000;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.6);
}

.round-start-rules {
	font-size: 36px;
	text-shadow: 2px 2px #000000;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.6);
}

.round-start-round-num {
	font-size: 36px;
	text-shadow: 2px 2px #000000;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.6);
}






.control-point-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
	z-index: 40;
}
.control-point-container {
	position: relative;
	text-align: center;
	color: #cccccc;
	font-size: 32px;
	text-shadow: 3px 3px #000000;
	margin-bottom: 24px;}

.control-point-item {
	width: 57px;
	height: 57px;
	background-color: rgba(0, 0, 0, 0.7);
	border-color:#cccccc;
	border-radius: 20px 20px 20px 20px;
	border-width: 16px 16px 16px 16px;
	border-style: solid;
	display: inline-block;
}

.control-point-progress-text {
	float: right;
	margin-top: 8px;
	margin-right: 4px;
}


.control-point-progress-filler {
	width: 23%;
	height: 100%;
	background-color: #3391ff;
}

.control-point-notification-item {
	position: absolute;
	font-size: 36px;
	text-shadow: 2px 2px #000000;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.6);
	border-color:#cccccc;
	border-radius: 20px 20px 20px 20px;
	border-width: 8px 8px 8px 8px;
	padding: 10px;
	border-style: solid;
	bottom: 144px;
	left: 610px;
}

.control-point-notification-item::after {
	content: "";
	bottom: -32px;
	left: 65px;
	position: absolute;
	border-color:#cccccc transparent;
	border-width: 25px 25px 0px;
	border-style: solid;
	width: 0px;
}



.match-win-text-wrapper {
	position:absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 9;
}

.match-win-text-container {
	position: relative;
	width: 100%;
	color: #cccccc;
	margin: 20% auto;
	pointer-events: none;
}

.match-win-text-title {
	font-size: 98px;
	text-shadow: 3px 3px #000000;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.6);
	
}

.match-win-text-rules {
	font-size: 36px;
	text-shadow: 2px 2px #000000;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.6);
}




.round-results-menu-wrapper {
	position:absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 10;
}

.round-results-menu-container {
	width: 510px;
	background-color: rgba(0, 0, 0, 0.7);
	overflow-y: auto;
	border-color:#cccccc;
	border-radius: 20px;
	border-width: 16px;
	border-style: solid;
	padding: 0px 12px 12px 12px;
	color: #cccccc;
	position: relative;
	margin: 10% auto;
	text-shadow: 1px 1px #000000;
	pointer-events: none;
}



.round-results-winner {
	width: 100%;
	font-size: 28px;
	text-align: center;
	margin-top: 12px;
	margin-top: 12px;
	font-weight: bold;
}

.round-results-standings {
	width: 100%;
	font-size: 16px;
	margin-top: 12px;
	margin-top: 12px;
}

.round-results-game-rules {
	width: 100%;
	font-size: 16px;
	text-align: center;
}

.round-results-standings-item {
	font-weight: bold;
	width: 100%;
}

.round-results-standings-team {
	width: 80%;
	text-align: left;
	float: left;
}

.round-results-standings-wins {
	width: 20%;
	text-align: right;
	float: left;
}



.round-results-mvp-container {
	width: 100%;
}


.round-results-mvp-title {
	width: 100%;
	font-size: 26px;
	text-align: center;
	border-width: 0px 0px 1px 0px;
	border-color: #cccccc;
	border-style: solid;
	margin-top: 16px;
}

.mvp-table {
	width: 100%;

}

.mvp-th {
	
}


.mvp-tr {
	vertical-align: top;
	font-weight: bold;
}


.mvp-name-header {
	text-align: left;
	width: 50%;
}

.mvp-team-header {
	text-align: left;
	width: 20%;
}

.mvp-points-header {
	text-align: right;
	width: 10%;
}

.mvp-deaths-header {
	text-align: right;
	width: 10%;
}


.mvp-heals-header {
	text-align: right;
	width: 10%;
}



.mvp-name-value {
	text-align: left;
}

.mvp-team-value {
	text-align: left;
}

.mvp-points-value {
	text-align: right;
}

.mvp-deaths-value {
	text-align: right;
}

.mvp-heals-value {
	text-align: right;
}



.team-score-menu-container {
	top: 68px;
	left: 8px;
	pointer-events: none;
	font-size: 32px;
	padding: 12px 12px 12px 12px;
	color: #cccccc;
	text-shadow: 1px 1px #000000;
	background-color: rgba(0, 0, 0, 0.7);
}

.team-score-menu-contents {
	height: 100%;
}

.team-score-title { 

}

.team-score-list {
	
}

.team-score-item {

}


.brief-controls {
	width:100%;
}





a {
	color: #3391ff;
}

.form-input {
	/* intentionally blank for now */
}

.form-button {
	margin: 3px auto;
	display: block;
}

.form-text {
	/* intentionally blank for now */
}




