body {
	font-family: Arial, Helvetica, sans-serif;
	color: #cccccc;
	background-color: #181a1b;
}

input[type='button'] {
	pointer-events: all;
	background-color: #181a1b;
	border-color: #736b5e;
    color: #e8e6e3;
}

input[type="text"] {
	background-color: #181a1b;
	color: rgb(216, 212, 207);
	border-color: rgb(106, 98, 87);
}

input[type='button']:disabled {
	background-color: #47494b;
	border-color: #47494b;
    color: #e8e6e3;
}

input[type="text"]:disabled {
	background-color: #47494b;
	color: rgb(216, 212, 207);
	border-color: #47494b;
}




#game-container {
	position: relative;
	margin-left: 400px;
}

#game-div {
	position: absolute;
	top:0px;
	left:0px;
	z-index:0;
}

#ui-div {
	position: absolute;
	top:0px;
	left:0px;
	z-index: 100;
	width:800px;
	height:600px;
}

.scene-root {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}

.hide {
	display:none;
}


#user-name-container {
	position: absolute;
	width:25%;
	height:15%;
	top: 15%;
	left: 35%;
	background-color: #444444;
	border-color:#cccccc;
	border-radius: 20px;
	border-width: 14px;
	border-style: solid;
	padding:12px;
	color: #cccccc;
}

#user-name {
	width: 96%;
	margin-top:4px;
}

#player-submit {
	position: absolute;
	bottom: 0px;
	right: 0px;
	margin: 12px;
}

#player-new {
	position: absolute;
	bottom: 0px;
	left: 0px;
	margin: 12px;
}


#game-server-details {
	position: absolute;
	width: 25%;
	top: 40%;
	left: 38%;
	color: #cccccc;
}

#temp-log {
	position: absolute;
	width: 90%;
	height: 100px;
	background-color: rgba(0, 0, 0, 0.5);
	bottom: 12px;
	left: 5%;
	overflow-y: scroll;
	resize: none;
	color: #cccccc;
}

#temp-log::-webkit-scrollbar {
    background-color: #202324;
    color: #aba499;
}

#temp-log::-webkit-scrollbar-thumb {
    background-color: #454a4d;
}


#temp-log::-webkit-scrollbar-corner {
    background-color: #181a1b;
}



.log-message {
	width:100%;
}

.input-controls-div {
	width: 100%;
	float: left;	
}


.user-list {
	width:49%;
	float:left;
	border: 1px solid blue;
}

.user-list-item {
	width: 100%;
	float: left;
}

.chat-div {
	width: 50%;
	float: right;
}

.chat-history {
	float: left;
	width: 100%;
	height: 300px;
	border: 1px solid red;
	overflow-y: scroll;
}

.chat-history::-webkit-scrollbar {
    background-color: #202324;
    color: #aba499;
}

.chat-history::-webkit-scrollbar-thumb {
    background-color: #454a4d;
}


.chat-history::-webkit-scrollbar-corner {
    background-color: #181a1b;
}

.chat-history-item {
	width: 100%;
	float: left;
}

.chat-history-ts {
	float: left;
	font-size: 10px;
	margin-top: 4px;
	font-style: italic;
}

.chat-history-name {
	float: left;
	font-size: 14px;
	font-weight: bold;
	margin-left: 4px;
}

.chat-history-msg {
	float: left;
	font-size: 14px;
	margin-left: 4px;
	word-break: break-word;
}

.chat-input-container {
	float: left;
	width: 100%;
	border: 1px solid yellow;
}

.tb-chat-input {
	float:left;
	width:86%;
}

.capture-pointer-events {
	pointer-events: all;
}

.ignore-pointer-events {
	pointer-events: none;
}



.tb-chat-submit {
	float: left;
}

.form-input {
	/* intentionally blank for now */
}

.form-button {
	/* intentionally blank for now */
}

.form-text {
	/* intentionally blank for now */
}




